<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>

	<div class="container">

		<div class="row">
			&nbsp;
		</div>

		<div class="row">
			&nbsp;
			&nbsp;
            <h4 class="alignleft">Brands</h4>
			<th:block th:switch="${info.getRole()}">
				<div th:case="supervisor" style="margin-left: auto;margin-right: 0;">
					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-primary btn-sm" id="add-brandcategory-button"
								style="padding: 4px">
								<i class='fa fa-plus align-middle'
									style='font-size:16px;color:white; padding-right: 4px;'></i><span class="align-middle">Add Brand</span></button>
							&nbsp;&nbsp;
							<button type="button" class="btn btn-primary btn-sm" id="upload-data"><i class='fa fa-upload align-middle'
									style='font-size:16px;color:white;padding-right: 4px;'></i><span class="align-middle">Upload Brands</span></button>
						</div>
					</div>
				</div>
				<div th:case="operator"></div>
			</th:block>
			&nbsp;
			&nbsp;
		</div>

		<div class="row">
			&nbsp;
		</div>

		<!-- Top row with form-->
		



		<!-- Add BrandCategory Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="add-brandcategory-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Brand</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="brandcategory-form">
							<div class="form-group row">
								<label for="inputBrand" class="col-2 col-form-label">Brand</label>
								<div class="col-10">
									<input type="text" class="form-control form-control-sm" name="brand"
										placeholder="Enter Brand" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="inputCategory" class="col-2 col-form-label">Category</label>
								<div class="col-10">
									<input type="text" class="form-control form-control-sm" name="category"
										placeholder="Enter Category" required>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						
						<button type="button" class="btn btn-primary" id="add-brandcategory">Add</button>
					</div>
				</div>
			</div>
		</div>


		
		<div class="row">
			<div class="col-12">
				<div class="card shadow-4-strong rounded-5 overflow-hidden p-0">
					<div class="card-body p-0">
						<table class="table table-striped" id="brandcategory-table">
							<thead>
								<tr>
									
									<th scope="col">Brand</th>
									<th scope="col">Category</th>
									<th:block th:switch="${info.getRole()}">
										<div th:case="supervisor">
											<th scope="col">Action</th>
										</div>
									</th:block>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			&nbsp;
		</div>


		<!-- BrandCategory Edit Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="edit-brandcategory-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Brand</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="brandcategory-edit-form">
							<div class="form-group row">
								<label for="editInputBrand" class="col-sm-2 col-form-label">Brand</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="brand"
										placeholder="enter brand" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="editInputCategory" class="col-sm-2 col-form-label">Category</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="category"
										placeholder="enter category" required>
								</div>
							</div>
							<input type="hidden" name="id">
						</form>
					</div>
					<div class="modal-footer">
						
						<button type="button" class="btn btn-primary" id="update-brandcategory">Update</button>
					</div>
				</div>
			</div>
		</div>


		<!-- BrandCategory Upload Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="upload-brandcategory-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Upload Brands</h5>
						<button type="button" class="close" data-dismiss="modal" id="close-upload-modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="brandcategory-file p-2 col-12">
							<input type="file" accept=".tsv" class="custom-file-input" id="brandcategoryFile">
							<label class="custom-file-label p-2" for="brandcategoryFile" id="brandcategoryFileName">Choose
								File</label>
						</div>
						<a th:href="@{/sample/brandcategory.tsv}" target="_blank">Download Sample File</a>
					</div> 

					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm" id="process-data"><i class='fa fa-upload'
								style='font-size:16px;color:white;padding-right: 4px;'></i>Upload</button>
					</div>
				</div>
			</div>
		</div>

		

	</div> 

	<footer th:replace="snippets.html :: name_footer"></footer>

	<script th:src="@{/static/brandcategory.js}"></script>

	<div hidden class="user-role"><span th:text="${info.getRole()}"></span></div>

</body>

</html>