<!DOCTYPE html>

<html lang="en">
  <head th:replace="snippets.html :: name_head"></head>

  <body>
    <nav th:replace="snippets.html :: name_site_navbar"></nav>
    
    <div class="container mt-4">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="jumbotron">
            <h1 class="display-4">Hello!</h1>
            <p class="lead">Welcome to Increff POS Application</p>
            <a class="btn btn-primary btn-lg" th:href="@{/site/login}"
              role="button">Login</a>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="snippets.html :: name_footer"></footer>
  </body>
</html>
