<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>

	<div class="container">


		<div class="row">
			&nbsp;
		</div>

		<div class="row">
			&nbsp;
			&nbsp;
			<h4 class="leftAlign">Products</h4>

			<th:block th:switch="${info.getRole()}">
				<div th:case="supervisor" style="margin-left: auto;margin-right: 0;">
					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-primary btn-sm" id="add-product-button"><i
									class='fa fa-plus align-middle'
									style='font-size:16px;color:white; padding-right: 4px;'></i><span
									class="align-middle">Add Product</span></button>
							&nbsp; &nbsp;
							<button type="button" class="btn btn-primary btn-sm" id="upload-data"><i
									class='fa fa-upload align-middle'
									style='font-size:16px;color:white;padding-right: 4px;'></i><span
									class="align-middle">Upload Products</span></button>

						</div>
					</div>
				</div>
				<div th:case="operator">

				</div>
			</th:block>
			&nbsp;
			&nbsp;
		</div>


		<div class="row">
			&nbsp;
		</div>



		<!-- Add Product Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="add-product-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Product</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="product-form">
							<div class="form-group row">
								<label for="inputBrand" class="col-sm-2 col-form-label"
									style="justify-content: left;">Brand</label>
								<div class="col-sm-10" id="brands-dropdown">
									<select class="form-control form-control-sm" name="brand" id="inputBrand">
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="inputCategory" class="col-sm-2 col-form-label"
									style="justify-content: left;">Category</label>
								<div class="col-sm-10">
									<select class="form-control form-control-sm" name="category" id="inputCategory">
										<option value='' disabled selected style='display: none'>Select Brand First
										</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="barcode"
										placeholder="enter barcode">
								</div>
							</div>
							<div class="form-group row">
								<label for="inputName" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="name"
										placeholder="enter product name">
								</div>
							</div>
							<div class="form-group row">
								<label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
								<div class="col-sm-10">
									<input type="number" class="form-control form-control-sm" name="mrp"
										placeholder="enter mrp">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm" id="add-product"><i class='fa fa-check'
								style='font-size:16px;color:white; padding-right: 4px;'></i>Add</button>
					</div>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-12">

				<div class="card shadow-4-strong rounded-5 overflow-hidden">
					<div class="card-body p-0">

						<table class="table table-striped" id="product-table">
							<thead>
								<tr>
									<th scope="col">Barcode</th>
									<th scope="col">Product Name</th>
									<th scope="col">MRP</th>
									<th scope="col">Brand</th>
									<th scope="col">Category</th>
									<th:block th:switch="${info.getRole()}">
										<div th:case="supervisor">
											<th scope="col">Action</th>
										</div>
									</th:block>
								</tr>
							</thead>
							<tbody>
								<tr>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			&nbsp;
		</div>


		<!-- product Edit Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Product</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="product-edit-form">
							<div class="form-group row">
								<label for="editInputName" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="name"
										placeholder="Enter Product Name">
								</div>
							</div>
							<div class="form-group row">
								<label for="editInputMrp" class="col-sm-2 col-form-label">MRP</label>
								<div class="col-sm-10">
									<input type="number" class="form-control form-control-sm" name="mrp"
										placeholder="Enter MRP">
								</div>
							</div>
							<div class="form-group row">
								<label for="editInputBarcode" class="col-sm-2 col-form-label">Barcode</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="barcode"
										placeholder="Enter Barcode" readonly="true">
								</div>
							</div>
							<div class="form-group row">
								<label for="editInputBrand" class="col-sm-2 col-form-label">Brand</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="brand"
										placeholder="Enter Brand" readonly="true">
								</div>
							</div>
							<div class="form-group row">
								<label for="editInputCategory" class="col-sm-2 col-form-label">Category</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control-sm" name="category"
										placeholder="Enter Category" readonly="true">
								</div>
							</div>

							<input type="hidden" name="id">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm" id="update-product">Update</button>
					</div>
				</div>
			</div>
		</div>


		<!-- product Upload Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Upload Product</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="product-file">
							<input type="file" class="custom-file-input" id="productFile">
							<label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
						</div>
						<a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a>
						<br>
						Rows: <span id="rowCount">0</span>,
						Processed: <span id="processCount">0</span>,
						Errors: <span id="errorCount">0</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i
								class='fa fa-close'
								style='font-size:16px;color:white; padding-right: 4px;'></i>Cancel</button>
						<button type="button" class="btn btn-primary btn-sm" id="process-data"><i class='fa fa-upload'
								style='font-size:16px;color:white;padding-right: 4px;'></i>Upload</button>
						<button type="button" class="btn btn-warning btn-sm" id="download-errors"><i
								class='fa fa-download'
								style='font-size:16px;color:white;padding-right: 4px;'></i>Download Errors</button>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>

	<script th:src="@{/static/product.js}">
	</script>
	<div hidden class="user-role"><span th:text="${info.getRole()}"></span></div>

</body>

</html>