<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">

        <div class="row">
            &nbsp;
        </div>


        <div class="card shadow-4-strong rounded-5 overflow-hidden p-0">
            <div class="card-body bg-light">

                <h4>Reports</h4>
                <div class="row">
                    &nbsp;
                </div>

                <div class="col-11 d-flex justify-content-between">
                    <div class="mr-4">
                        <button type="button" class="btn btn-primary btn-sm" id="download-csv-brands-report">
                            <i class='fa fa-download' style='font-size:16px;color:white;padding-right: 4px;'></i>
                            Download Brands Report
                        </button>
                    </div>

                    <div class="mr-4">
                        <button type="button" class="btn btn-primary btn-sm" id="download-csv-inventory-report">
                            <i class='fa fa-download' style='font-size:16px;color:white;padding-right: 4px;'></i>
                            Download Inventory Report
                        </button>
                    </div>

                    <div class="mr-4">
                        <button type="button" class="btn btn-primary btn-sm" id="download-csv-posdaysales-report">
                            <i class='fa fa-download' style='font-size:16px;color:white;padding-right: 4px;'></i>
                            Download POS Day Sales Report
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>


        <div class="card shadow-4-strong rounded-5 overflow-hidden p-0">
            <div class="card-body bg-light">

                <h4>Sales Report</h4>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <form class="form-inline" id="sales-report-form">
                            <div class="form-group mr-3">
                                <label for="inputStartDate" class="col-form-label">Start Date</label>
                                <input type="date" class="form-control form-control-sm ml-2" name="startDate"
                                    id="inputStartDate">
                            </div>

                            <div class="form-group mr-3">
                                <label for="inputEndDate" class="col-form-label">End Date</label>
                                <input type="date" class="form-control form-control-sm ml-2" name="endDate"
                                    id="inputEndDate">
                            </div>

                            <div class="form-group mr-3">
                                <label for="inputBrand" class="col-form-label">Brand</label>
                                <select class="form-control form-control-sm ml-2" name="brand" id="inputBrand">
                                </select>
                            </div>

                            <div class="form-group mr-3">
                                <label for="inputCategory" class="col-form-label">Category</label>
                                <select class="form-control form-control-sm ml-2" name="category" id="inputCategory">
                                    <option value='' selected>All</option>
                                </select>
                            </div>
                            &nbsp;
                            <button type="button" class="btn btn-primary btn-sm" id="download-csv-sales-report">
                                <i class='fa fa-download' style='font-size:16px;color:white;padding-right: 4px;'></i>
                                Download Sales Report
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            &nbsp;
        </div>



    </div>

    <footer th:replace="snippets.html :: name_footer"></footer>

    <script th:src="@{/static/reports.js}" />
    </script>

</body>

</html>