<!doctype html>
<html lang="en">
	<head th:replace="snippets.html :: name_head"></head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1 fixed-top" th:fragment="name_site_navbar" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2)">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/static/assets/images/increff.png}" width="145" height="40" class="d-inline-block align-top" alt=""/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavOut">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
					<a class="btn btn-primary" th:href="@{/site/login}">Login</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container mt-4">
			<div class="row">
				<div class="col-6 mt-4">
					<img th:src="@{/static/assets/images/signup.png}" alt="signup.png" height="400" width="400">
				</div>
				<div class="col-6 mt-4">
					<div class="card mt-4">
						<div class="card-header">
							Signup
						</div>
						<div class="card-body">
							<form class="form" id="signup-form" name="signup-form" method="POST" th:action="@{/session/signup}">
								<div class="form-group">
									<label for="email" class="col-sm-10 col-form-label required">Email</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" name="email" id="email" placeholder="Enter Email" required>
									</div>
								</div>
								<div class="form-group">
									<label for="password" class="col-sm-10 col-form-label required">Password</label>
									<div class="col-sm-12">
										<input type="password" class="form-control" name="password" id="password-field" placeholder="Enter Password" required>
										<span toggle="#password-field" class="fa fa-fw fa-eye toggle-password" 
										  style="float: right; margin-right: 20px; margin-top: -25px; position: relative; z-index: 2;">
                                        </span>
									</div> 
								</div>
								<button type="submit" class="btn btn-primary mt-2" id="signup" style="margin-left: 11px;" onclick="validateEmailandPassword(document.signup-form.email.value, document.signup-form.password.value)">SignUp</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="snippets.html :: name_footer"></footer>
		<script>
			$(".toggle-password").click(function() {
				$(this).toggleClass("fa-eye fa-eye-slash");
				var input = $($(this).attr("toggle"));
				if (input.attr("type") == "password") {
					input.attr("type", "text");
				} else {
				    input.attr("type", "password");
				}
			});
		</script>
		<script>
			function validateEmailandPassword(mail, password) 
			{
				console.log(mail + " : " + password);
				var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
				if(mail.value.match(mailformat)){
					console.log("valid");
				}
				else{
					showError("Invalid email address!");
				    return false;
				}
				if(password.value.length<6){
					showError("Password should contain more than 6 characters")
					return false
				}
				return true;
			}
		</script>
	</body>
</html>